In [46]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import r2_score

In [47]:
data = pd.read_csv("./data/data_preprocessed.csv")
data.head()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price,car_name_freq
0,9,120000,19.70,796,46.30,5,120000,778
1,5,20000,18.90,1197,82.00,5,550000,580
2,11,60000,17.00,1197,80.00,5,215000,906
3,9,37000,20.92,998,67.10,5,226000,778
4,6,30000,22.77,1498,98.59,5,570000,374

In [48]:
X = data.drop(columns="selling_price")
y = data["selling_price"]

X_train, X_test, y_train, y_test  = train_test_split(X, y, random_state=42, test_size=0.2)
X_train.shape, X_test.shape

((12328, 7), (3083, 7))

In [49]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [50]:
r2_score(y_test, y_pred)

0.6608766492406283

In [51]:
cross_val_score(X=X, y=y, estimator=model, cv=5)

array([0.67097476, 0.51640708, 0.64366193, 0.63659318, 0.6799089 ])

In [52]:
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

r2_score(y_test, y_pred)

0.9265456193869387

In [53]:
cross_val_score(X=X, y=y, estimator=rfr, cv=5)

array([0.91330726, 0.75753669, 0.9257734 , 0.87453415, 0.93795928])